{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "glamorous-displayname",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "next/babel"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread"
      ]
    }
  }
}